.wrapper {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  background: #1f2229;
}

.activeInput {
  border: none;
  width: 100%;
  background: #13191a;
}

.fullWidht {
  width: 100%;
}

.formItemContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  column-gap: 0.5rem;
  width: max-content;

  .formItemInputContainer {
    width: 100%;
    width: 16rem;
  }
}

.formItem {
  display: flex;
  align-items: left;
  justify-content: left;
  width: auto;
}

.leftSideContainer {
  display: flex;
  flex-direction: column;
  align-items: normal;
  row-gap: 0;
  padding: 1rem 2rem 1rem 1rem;
  border-right: 1px solid #f0f0f0;
  background-color: aliceblue;
  width: auto;
}

.rightSideContainer {
  display: flex;
  flex-direction: column;
  width: 22.5rem;
  align-items: normal;
  padding: 1rem;
  border-radius: 8px;
  box-sizing: border-box;
  row-gap: 0;
}

.container {
  display: flex;
  align-items: start;
  justify-content: center;
  column-gap: 2rem;
}

.formContainer {
  border-radius: 8px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;

  .title {
    color: #eeeeee;
    padding: 0;
    margin: 1rem;
  }
}

.formItemGroupContainer:not(.positionType) {
  display: flex;
  justify-content: space-between;
}

.riskContainer {
  display: flex;
  margin: 0;
}

.settingsContainer {
  row-gap: 0;
  margin-top: 0.5rem;
  background-color: #1d1f25;
  border: 1px solid #282b35;
}

.innerInput {
  border: none;
  background-color: rgb(19, 25, 26);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  align-items: center;
  padding: 0.5rem 1rem 0 0.5rem;
  justify-content: center;
}

.positionPreviewWrapper {
  box-sizing: border-box;
  padding: 5rem 0 2rem 6rem;

  .positionPreviewContainer.short {
    position: relative;
    flex-direction: column-reverse;
  }

  .positionPreviewContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 22rem;
    width: 8rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

    .positionPreviewTakeProfit {
      position: relative;
      height: calc(100% / 3) * 2;
      background-color: #089981;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .positionPreviewDivider {
      position: relative;
      height: 1px;
      background-color: white;
    }

    .positionPreviewStopLoss {
      position: relative;
      background-color: #f23645;
      height: calc(100% / 3) * 1;
      justify-content: flex-end;
      align-items: center;
      justify-content: center;
      display: flex;
    }

    .previewIconContainer {
      position: absolute;
      left: -6rem;
      top: -3.6rem;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      width: 6rem;
      border-bottom: 1px dashed gray;
      border-radius: 0;
    }

    .previewIconContainer > span {
      font-size: 12px;
    }

    .previewIconContainer.shortSL {
      bottom: auto;
      top: -3.6rem;
    }

    .previewIconContainer.shortTP {
      top: auto;
      bottom: 0rem;
    }

    .previewIconContainerButtom {
      position: absolute;
      bottom: 0;
      top: auto;
    }

    .previewMiddleTextContainer {
      right: -8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #089981;
      font-weight: 400;
      font-size: 14px;
    }

    .previewMiddleTextContainer.red {
      color: #f23645;
    }

    .previewInnerIconContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 14px;
      color: white;
      height: auto;

      b {
        font-weight: 400;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    align-items: center;
  }

  .riskContainer {
    width: 66%;
  }
}
